<div class="body">

  <div class="track-button">
    <h2>Tracking App</h2>
  </div>

  <div class="tracking-area" (mousemove)="coordinates($event)">

    <div class="buttons">
      <div></div>
      <div>
        <button>Book a Trip to Paris</button>
      </div>
      <div>
        <button>Buy a new Couch</button>
      </div>
      <div></div>
    </div>


    <div class="content">
      <article>
        A nice trip to Berlin
      </article>
      <article>
        The best of French Language
      </article>
      <article>
        Make it cozy in your house
      </article>
      <article>
        Watch a French movie at home
      </article>
    </div>


  </div>


  <div class="data">
    <span *ngFor="let d of data">[{{ d.x }},  {{ d.y}}]</span>
  </div>

</div>
